<div class="container-fluid container-header-sobre">
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="container-sobre-logo">
      </div>

    </div>
    <div class="col-md-6">
      <div class="container-sobre">
        <h1 class="titulo">Um pouco sobre a <strong>Versátil</strong></h1>
        <p>Toda e qualquer pessoa é especial! E nós queremos que você tenha exatamente o tipo de moda que combine com o seu
          jeito de ser e que esteja ao seu alcance.</p>

        <p>Fundada em ?????, Versátil nasceu com a ideia de vender roupas de qualidade, estilosas, oferecendo o melhor para
          você com mais de 200 peças de roupas e acessórios exclusivos, garimpadas em um mix equilibrado entre conceito fashion
          e moda para a vida real.</p>

        <p>Nós admiramos e respeitamos nossos clientes e planejamos minuciosamente para garantir roupas com alto padrão de qualidade
          a preços acessíveis. A Versátil democratiza e entende o significado de moda. Na Versátil, você pode comprar o que
          é tendência nas ruas e passarelas e viver o seu estilo.</p>

        <p>Nós da Versátil queremos mostrar o que é mais importante para nós: que cada um de vocês possa se identificar pessoalmente
          com a marca e com a nossa moda, traduzida em peças de roupas indispensáveis em seu guarda-roupa.</p>
      </div>
    </div>
  </div>
</div>
