
  <md-card class="example-card">
          <img md-card-image src="../../../../assets/colecoes/08.jpg">
          <md-card-content>
            <md-card-title>Nome do Produto</md-card-title>
            <md-card-subtitle>R$ 100,00</md-card-subtitle>
          </md-card-content>
        </md-card>
