<div class="container-fluid container-header-colecao">
</div>

<div class="container">

  <h1 class="titulo" style="margin-top:35px;">Nossa coleção <strong>Versátil</strong></h1>

  <div class="row">

    <div class="col-md-3">
      <md-card class="example-card">
        <img md-card-image src="../../../../assets/colecoes/03.jpg">
      </md-card>
    </div>


    <div class="col-md-3">
      <md-card class="example-card">
        <img md-card-image src="../../../../assets/colecoes/04.jpg">
      </md-card>
    </div>


    <div class="col-md-3">
      <md-card class="example-card">
        <img md-card-image src="../../../../assets/colecoes/05.jpg">
      </md-card>
    </div>


    <div class="col-md-3">
      <md-card class="example-card">
        <img md-card-image src="../../../../assets/colecoes/06.jpg">
      </md-card>
    </div>


    <div class="col-md-3">
      <md-card class="example-card">
        <img md-card-image src="../../../../assets/colecoes/07.jpg">
      </md-card>
    </div>


    <div class="col-md-3">
      <md-card class="example-card">
        <img md-card-image src="../../../../assets/colecoes/08.jpg">
      </md-card>
    </div>


    <div class="col-md-3">
      <md-card class="example-card">
        <img md-card-image src="../../../../assets/colecoes/09.jpg">
      </md-card>
    </div>


    <div class="col-md-3">
      <md-card class="example-card">
        <img md-card-image src="../../../../assets/colecoes/10.jpg">
      </md-card>
    </div>


    <div class="col-md-3">
      <md-card class="example-card">
        <img md-card-image src="../../../../assets/colecoes/11.jpg">
      </md-card>
    </div>


    <div class="col-md-3">
      <md-card class="example-card">
        <img md-card-image src="../../../../assets/colecoes/10.jpg">
      </md-card>
    </div>


    <div class="col-md-3">
      <md-card class="example-card">
        <img md-card-image src="../../../../assets/colecoes/11.jpg">
      </md-card>
    </div>


    <div class="col-md-3">
      <md-card class="example-card">
        <img md-card-image src="../../../../assets/colecoes/12.jpg">
      </md-card>
    </div>

    <div class="col-md-3">
      <md-card class="example-card">
        <img md-card-image src="../../../../assets/colecoes/13.jpg">
      </md-card>
    </div>

    <div class="col-md-3">
      <md-card class="example-card">
        <img md-card-image src="../../../../assets/colecoes/14.jpg">
      </md-card>
    </div>

    <div class="col-md-3">
      <md-card class="example-card">
        <img md-card-image src="../../../../assets/colecoes/15.jpg">
      </md-card>
    </div>

    <div class="col-md-3">
      <md-card class="example-card">
        <img md-card-image src="../../../../assets/colecoes/16.jpg">
      </md-card>
    </div>

  </div>
</div>
