<nav class="navbar navbar-toggleable-md navbar-light bg-with">

  <div id="header-container" class="container">

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <a class="header-logo-absolute" href="#">
        <img src="../../../../assets/logo/logo.png">
    </a>

    <a class="header-logo-mobile" href="#">
      <img src="../../../../assets/logo/logo.png" class="logo-mobile">
    </a>

    <div class="header-infos">
      <div class="row">
        <div class="col-md-6" style="border-right: 1px solid rgba(0, 0, 0, .1);">
          <div class="header-slogan">
            O Melhor da Moda Atual
          </div>
        </div>

        <div class="col-md-6">
          <ul class="header-redes-sociais">
            <li><a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
            <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li></li>
          </ul>
        </div>


      </div>
    </div>
    <hr class="hr-header">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" md-button [routerLink]="['home']">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" md-button [routerLink]="['sobre']">Sobre</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" md-button [routerLink]="['colecao']">Coleção</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" md-button [routerLink]="['contato']"> Contato</a>
        </li>
      </ul>
    </div>


  </div>
</nav>
