<app-slideshow></app-slideshow>

<hr>
<div class="container mensage-pequena">
  <div class="row">

    <div class="col-md-4">
      <img src="../../../assets/logo/logo.png">
    </div>

    <div class="col-md-4">
      <img src="../../../assets/home/desconto.jpg">
    </div>

    <div class="col-md-4">
      <h2 class="titulo-font-alternativa">Peças com até <strong>50% de desconto</strong> em compras à vista</h2>
    </div>

  </div>
</div>

<app-produto-destaque></app-produto-destaque>


<div class="container">
  <hr>
  <h1 class="titulo">Siga-nos nas <strong>Redes Sociais</strong></h1>
  <div class="row">
    <div class="col-md-6">
      <a href="https://www.facebook.com/Vers%C3%A1til-625615924197658/" target="_blank">
      <img src="../../../assets/home/faceboo-banner.jpg" class="banner-redes">
      </a>
    </div>
    <div class="col-md-6">
      <a href="https://www.instagram.com/versatilaracaju/" target="_blank">
      <img src="../../../assets/home/instagram-banner.jpg" class="banner-redes">
      </a>
    </div>
  </div>

</div>
