<hr>
<div class="container">
  <h1 class="titulo">Nossos destaques da <strong>Moda</strong></h1>
  <swiper [config]="config">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <md-card class="example-card">
          <img md-card-image src="../../../../assets/colecoes/01.jpg">
        </md-card>
      </div>

      <div class="swiper-slide">
        <md-card class="example-card">
          <img md-card-image src="../../../../assets/colecoes/08.jpg">
        </md-card>
      </div>

      <div class="swiper-slide">
        <md-card class="example-card">
          <img md-card-image src="../../../../assets/colecoes/03.jpg">
        </md-card>
      </div>

      <div class="swiper-slide">
        <md-card class="example-card">
          <img md-card-image src="../../../../assets/colecoes/04.jpg">
        </md-card>
      </div>

      <div class="swiper-slide">
        <md-card class="example-card">
          <img md-card-image src="../../../../assets/colecoes/05.jpg">
        </md-card>
      </div>

      <div class="swiper-slide">
        <md-card class="example-card">
          <img md-card-image src="../../../../assets/colecoes/06.jpg">
        </md-card>
      </div>

      <div class="swiper-slide">
        <md-card class="example-card">
          <img md-card-image src="../../../../assets/colecoes/07.jpg">
        </md-card>
      </div>





    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </swiper>
</div>
