/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@font-face {
  font-family: 'journalregular';
  src: url('assets/fonts/journal/journal-webfont.eot');
  src: url('assets/fonts/journal/journal-webfont.eot?#iefix') format('embedded-opentype'), url('assets/fonts/journal/journal-webfont.woff') format('woff'), url('assets/fonts/journal/journal-webfont.ttf') format('truetype'), url('assets/fonts/journal/journal-webfont.svg#journalregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pompiere_regular';
  src: url('assets/fonts/pompiere/pompiere-regular-webfont.woff2') format('woff2'), url('assets/fonts/pompiere/pompiere-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/*CABEÇALHOS*/

.titulo {
  width: 100%;
  padding-bottom: 20px;
  text-align: center;
  font-weight: normal;
  color: #e85245;
  font-family: "journalregular", cursive;
  font-size: 40px;
  font-size: 2.5rem;
}

.titulo strong {
  position: relative;
  top: 2px;
  color: #2c2c2c;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 30px;
  font-size: 1.7rem;
  font-family: "Pompiere", cursive;
}

.titulo strong:before {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: url(https://www.maptiteculotte.com/themes/theme_nq/css/modules/homefeatured/../../../img/underline.png) repeat;
}


/*NAV BAR*/

.navbar-light .navbar-nav .nav-link {
  font-size: 1.1rem;
  font-weight: lighter !important;
}

.header-logo-absolute {
  position: absolute;
  left: -30px;
  top: 0;
  background: #fff;
  padding: 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  z-index: 111;
  border-radius: 100%;
  overflow: hidden;
  width: 189px;
  height: 189px;
  justify-content: center;
  border: 3px dotted #f13251;
  align-items: center;
  display: flex;
}

.header-logo-absolute img {
  width: 170px;
}

#header-container {
  max-width: 965px !important;
  min-height: 53px !important;
  padding-left: 175px !important;
  padding-top: 20px !important;
  z-index: 111;
  display: inline-block;
}

.header-infos {
  height: 50px;
}

.header-slogan {
  padding-left: 15px;
  font-family: "journalregular", cursive;
  font-size: 2rem;
  color: #f13251;
  width: 100%;
  text-align: center;
}

.header-redes-sociais {
  margin: 5px 0 0 0;
}

.header-redes-sociais li {
  display: inline-block;
  list-style: none;
}

.header-redes-sociais a {
  font-size: 1.5rem;
  margin: 10px 15px 0 0;
}

.header-logo-mobile {
  display: none;
}

@media (max-width: 700px) {
  #header-container {
    width: 100% !important;
    min-height: 53px !important;
    padding-left: 5px !important;
    padding-top: 5px !important;
    z-index: 111;
    display: inline-block;
  }
  .header-infos,
  .header-logo-absolute {
    display: none !important;
  }
  .header-logo-mobile {
    display: inline-block;
  }
  .header-logo-mobile img {
    height: 100px;
  }
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .open>.nav-link {
  color: #e85245 !important;
}

hr-header {
  margin: 0 !important;
  padding: 0 !important;
}


/*home*/

.mensage-pequena {
  min-height: 200px;
  background: #ffffff;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center
}

.mensage-pequena .row {
  align-items: center;
  justify-content: center
}

.mensage-pequena .col-md-4 {
  text-align: center;
}

.mensage-pequena .titulo-font-alternativa {
  font-family: 'journalregular';
  font-size: 4rem;
  color: #f13251;
  width: 100%;
  line-height: 2rem;
  text-align: center;
}

.mensage-pequena .titulo-font-alternativa strong {
  position: relative;
  top: 2px;
  color: #2c2c2c;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 30px;
  font-size: 1.7rem;
  font-family: "Pompiere", cursive;
}


/*FAIXA SOBRE*/

.template-component-header-subheader {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.banner-redes {
  max-height: 360px;
}


/*SOBRE*/

.container-header-sobre {
  height: 300px;
  background: url('./assets/sobre/banner-header.jpg') top center no-repeat;
  background-size: cover;
}

.container-sobre {
  margin-top: 50px;
}

.container-sobre-logo {
  min-height:400px;
  height: 100%;
  background: url('./assets/sobre/logo-sobre.jpg') top center no-repeat;
  background-size: cover;
}

.container-sobre P {
  text-align: justify;
}



/* COLEÇÃO */

.container-header-colecao {
  height: 300px;
  background: url('./assets/colecoes/banner-colecao.jpg') top center no-repeat;
  background-size: cover;
}

.example-card{
  margin: 15px 0 15px 0;
}


/*FOOTER*/

footer.footer {
  height: 60px;
  justify-content: center;
  align-items: center;
  display: flex;
  background: #f7405e;
  color: #fff;
  font-size: 1.1rem;
  margin-top: 60px;
}

footer.footer A {
  color: #fff;
}
